/* || GENERAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url(img/map-bg-rohan.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
/* || HEADER */
header {
    display: flex;
    justify-content: space-between;
    background-color: #99b051;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
    min-height: 75px;
    align-items: center;
}
header img {
    height: 90px;
}
/* Navigation menu */
#nav-bar {
    width: 30%;
}
#nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    padding: 10px;
}
/* || MAIN */
#first {
    width: 70%;
    margin: 120px auto 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#first-text {
    line-height: 3;
}
#first-text h2 {
    font-size: 35px;
}
#first-text p {
    font-style: italic;
    font-size: 20px;
}
#first img {
    width: 30%;
}
#mailer, #features, #embed, #cards {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
    scroll-margin-top: 100px; /*Offset so that the fixed header, doesn't cover part of the section you are trying to get to when you click on it in nav menu*/
}
/* Form */
#form h2 {
    padding-bottom: 15px;
}
#form {
    text-align: center;
    border: 5px solid #b0a351;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email {
    font-size: 20px;
    width: 40%;
    padding: 10px;
    margin-bottom: 15px;
}
#submit {
    width: 20%;
    padding: 5px;
    background-color: #99b051;
    border: none;
    border-radius: 5px;
}
#submit:hover {
    background-color: #b0a351;
    cursor: pointer;
}
/* Features section */
.feature {
    display: flex;
    flex-direction: row;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    width: 150px;
    height: 100px;
}
.features-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
}
.features-text p {
    font-size: 15px;
}
.fa-music, .fa-truck, .fa-flag {
    color: #99b051;
}
/* Video section */
#embed {
    text-align: center;
}
#embed h2 {
    padding-bottom: 25px;
}
#cards {
    display: flex;
    justify-content: space-between;
}
/* Price section */
.price {
    border: 1px solid black;
    text-align: center;
    width: 30%;
}
.price .price-title {
    background-color: #b0a351;
    padding: 10px 0px;
    text-transform: uppercase;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price .dollar {
    padding: 15px 0px;
}
.price button {
    margin: 15px 0px;
    width: 30%;
    padding: 5px;
    background-color: #99b051;
    border: none;
    border-radius: 5px;
    transition: background-color 2s;
}
.price button:hover {
    background-color: #b0a351;
    cursor: pointer;
}
.price ul {
    list-style: none;
    line-height: 1.5;
}
/* || FOOTER */
footer {
    min-height: 75px;
    background-color: #b0a351;
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    text-align: end;
    line-height: 1.5;
}
footer ul {
    list-style: none;
}
footer ul li {
    display: inline;
    padding: 0px 0px 0px 20px;
}
/* || LINKS */
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color:#8a4234;
}
/* || RESPONSIVE */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    #nav-bar ul {
        flex-direction: column;
        text-align: center;
        line-height: 1.5;
    }
    #first {
        width: 90%;
        margin: 190px auto 30px auto;
    }
    #first-text {
        line-height: 1.5;
    }
    #first-text h2 {
        font-size: 25px;
    }
    #first-text p {
        font-size: 15px;
    }
    #mailer, #features, #embed, #cards {
        width: 90%;
        margin: 0 auto;
        scroll-margin-top: 180px;
    }
    #features {
        padding-bottom: 0px !important;
    }
    #form h2 {
        font-size: 20px;
    }
    #email {
        width: 80%;
    }
    #submit {
        width: 40%;
    }
    .feature {
        flex-direction: column;
        text-align: center;
        padding-bottom: 30px;
    }
    .icon {
        display: none;
    }
    #embed #video {
        width: 350px;
        height: 200px;
    }
    #cards {
        flex-direction: column;
    }
    .price {
        width: 100%;
        margin-bottom: 15px;
    }
    footer {
        width: 100%;
    }
}